/** {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}**/

footer {
  width: 100%;
  background-color: black;
  margin-top: 200px;
}

footer .negro {
  color: white;
  display: grid;
  width: 90%;
  margin: auto;
  gap: 20px;
}

footer .negro .enlaces {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 24px;
}

footer .negro .enlaces .primera {
  align-self: self-end;
}

footer .negro .enlaces .segunda {
  align-self: center;
}

footer .negro .enlaces .tercera {
  align-self: self-end;
}

footer .negro .enlaces .tercera #separado {
  margin-top: 20px;
}

footer .negro .enlaces .medio {
  justify-self: center;
}

footer .negro .enlaces .ultima {
  text-align: right;
  align-self: self-end;
}

footer .negro .enlaces ul li {
  list-style: none;
}

footer .negro .copy {
  border-top: solid 2px white;
}

footer .negro .copy p {
  margin: 20px 0;
  text-align: center;
}

footer .gris {
  background-color: #26282b;
  width: 90%;
  margin: auto;
  transform: translateY(-50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

footer .gris .segunda {
  display: grid;
  padding: 100px;
  gap: 10px;
}

footer .gris .segunda input {
  background-color: transparent;
  border: solid 1px gray;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 20px;
}

footer .gris .segunda button {
  background-color: transparent;
  border: solid 1px orange;
  color: orange;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 20px;
  width: 60%;
  justify-self: end;
}

footer .gris .segunda p {
  margin-left: 20px;
  color: white;
  font-size: 20px;
}

footer .gris #textFooter {
  font-size: 30px;
  color: white;
  justify-self: center;
}

footer .gris #textFooter span {
  color: orange;
}

@media (max-width: 700px) {
  footer {
    margin-top: 10px;
  }

  footer .gris {
    display: none;
  }

  footer .negro {
    width: 100%;
  }

  footer .negro .enlaces {
    grid-template-columns: repeat(2, 1fr);
    font-size: 18px;
  }

  footer .negro .enlaces .medio {
    margin-top: 10px;
    justify-self: baseline;
    font-size: 16px;
    font-weight: lighter;
    color: #aaa;
  }

  footer .negro .enlaces .primera {
    grid-column: span 2;
  }

  footer .negro .enlaces .ultima {
    text-align: left;
    justify-self: baseline;
    grid-column: span 2;
    margin-top: 30px;
  }

  footer .negro .copy {
    display: none;
  }
}

@media (max-width: 320px) {
  footer {
    margin-top: 10px;
  }

  footer .gris {
    display: none;
  }

  footer .negro {
    width: 100%;
  }

  footer .negro .enlaces {
    grid-template-columns: 1fr;
    font-size: 14px;
  }

  footer .negro .enlaces .medio {
    margin-top: 10px;
    justify-self: baseline;
    font-size: 12px;
    font-weight: lighter;
    color: #aaa;
  }

  footer .negro .enlaces .primera {
    grid-column: span 1;
  }

  footer .negro .enlaces .ultima {
    text-align: left;
    justify-self: baseline;
    grid-column: span 1;
    margin-top: 20px;
  }

  footer .negro .copy {
    display: none;
  }

  footer .gris .segunda input {
    font-size: 16px;
  }

  footer .gris .segunda button {
    font-size: 16px;
  }

  footer .gris .segunda p {
    font-size: 16px;
  }

  footer .gris #textFooter {
    font-size: 20px;
  }
}